<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
                logFile="proxy_log.log"
                logLevel="INFO"
                mustMatch="false">
  <serverUrls>
    <serverUrl url="http://services.arcgisonline.com"
        matchAll="false"/>
  </serverUrls>
  
  <administrations>
    <administration name="zhengzhou"
        geometry="POLYGON(112.36,15.2586)"/>
  </administrations>
  <token>4d6519bb758d9f96047d947d85c552c8</token>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
